table {
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal  arial, Helvetica,sans-serif;
}
tr{
    height: 16.02vh;
    background: #4e494d;
    
}
td{
    width: 25vw;
    border: 1px solid #4e394d;
}
#inputBox{
    background-color: #4e394d;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #fff;
    border: 0px;
}
.digitButton{
    background-color: antiquewhite;
}
.operatorButton{
    background-color: #ff9e06;
}
.ACButton{
    background-color: #656165;
}